body {
  margin: 16px;
  background-size: cover;
}

.nav {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.nav ul {
  list-style: none;
  display: block;
  padding: 50px 40px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.nav li a:hover {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.name li {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: Droid Sans;
}

hr {
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  margin: 1;
}

#logo {
  float: left;
}

.head #name {
  text-align: center;
  margin-top: 120px;
}

.head #name h1 {
  color: rgb(255, 255, 255);
  font-family: 'work', cursive;
  font-size: 125px;
  margin: 0;
  font-weight: normal;
  letter-spacing: -5px;
  padding: 0;
  text-shadow: 2px 3px lightgrey;
}

.head #white h1 {
  padding: 10px;
  margin: 100px;
  width: 960px;
  height: 1120px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.img1, .img2, .img3, .img4, .img5 {
  width: 250px;
  height: 170px;
}
.head #white table {
  font-family: Raleway;
}
