body {
  background-color: #1e1d1d;
}
#top .bg{
  background-image: url("https://sparklepvp.github.io/portfolio/image/Background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.nav ul {
  list-style: none;
  display: block;
  padding: 50px 40px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.nav li a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

