body, html {
  background-color: #1e1d1d;
  height: 100%;  
  margin: 0 auto;
  position: relative;
} 

.bg {
  background-image: url("https://sparklepvp.github.io/portfolio/image/Background.png");
  height: 100%;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 10px;
  padding-bottom: 200px;
}

.nav {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.nav ul {
  list-style: none;
  display: block;
  padding: 100px 50px;
}

.nav ul li {
  float: left;
  bottom: 80px;
  margin: 0 15px;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.nav li a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
  
}

.home {
  position: relative;
  top: 1px;
  float: left;
  width: 8%;
  height: 8%;
}
.title {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: Droid Sans;
}
#mid {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Droid Sans;
}
h1{
	padding: 50px;	
}
