body,html {
  background-color: white;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-rendering: optimizeLegibility;
}
.mashimg{
  width: 8in;
  height: 4.5in;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
	text-align: center;
}
p {
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: Droid Sans;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8in;
  height: 4.5in;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav2 a:hover {
  color: rgb(255, 255, 255);
}
.nav2 li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}


